name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: '^1.21'
    - name: Build
      run: cd ./Day-11/go-rest-api && go build -o myapp
    # - name: Test
    #   run: go test -v ./...
